<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Gab Likes</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        {{#sessionExist}}
          <span class="welcome">Welcome {{sessionExist}}</span>
        {{/sessionExist}}
        <span>
          <nav>
            {{^sessionExist}}
              <a href="/login">Login</a>
              <a href="/signup">Sign Up</a>
            {{/sessionExist}}
            {{#sessionExist}}
              <a href="/home">Gabble</a>
              <a href="/home/logout">Log out</a>
            {{/sessionExist}}
          </nav>
        </span>
        <span class="title">Gab</span>
      </div>

      {{#sessionExist}}
      <div class="fields">
        <ul>
          {{#allMsg}}
            <li>{{#gabs}}<b>{{username}}</b>{{/gabs}} : {{messages}}</li>
            <li>{{createdAt}}</li>
          {{/allMsg}}
        </ul>
        <hr>
        <!--<p>Liked by </p> -->
      </div>
      {{/sessionExist}}
    </div>
  </body>
</html>
