<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>New Gab</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        {{#sessionExist}}
          <span class="welcome">Welcome {{userFullName}}</span>
        {{/sessionExist}}
        <span>
          <nav>
            {{^sessionExist}}
              <a href="/login">Login</a>
              <a href="/signup">Sign Up</a>
            {{/sessionExist}}
            {{#sessionExist}}
              <a href="/home">Gabble</a>
              <a href="/logout">Log out</a>
            {{/sessionExist}}
          </nav>
        </span>
        <span class="title">New Gab</span>
      </div>
      {{#sessionExist}}
      <div class="fields">
        <ul>
          <li class="msg"><p>{{#messages}}{{msg}}{{/messages}}</p>
          <form action="/newgab" method="post">
          <li><textarea  name="newgab" id = "newgab" placeholder="Enter your gab here ..."></textarea></li>
          <li><button type="submit" >submit</button></li>
          </form>
        </ul>
      </div>
      {{/sessionExist}}
    </div>
  </body>
</html>
